<div class="fab shadow-lg">
    <button type="button" class="btn btn-main d-flex"
            @onclick="() => _showLinkModal = true"
            @onmouseover="() => _fabBtnClass = string.Empty"
            @onmouseout="@(() => _fabBtnClass = "d-none")">
        <i class="material-symbols-outlined">link</i>
        <span class="@_fabBtnClass">Add short URL</span>
     </button>
</div>

@if (_showLinkModal)
{
    <Modal Title="Generate Short URL" OnClose="()=> _showLinkModal = false" ShowFooter="false">
        <ShortUrlGeneratorForm />
    </Modal>
}
@code {
    private bool _showLinkModal;
    private string _fabBtnClass = "d-none";
}
