@page "/"

<PageTitle>Squeezer</PageTitle>

<SectionContent SectionName="heading">
    <h1 class="text-main fw-bold text-center">URL shortner - <small>Make any URL shorter</small></h1>
</SectionContent>

<div class="row">
    <div class="col-sm-6 my-5 mx-auto shadow rounded">
        <ShortUrlGeneratorForm @rendermode="InteractiveAuto" />
    </div>
</div>

<div class="row my-5">
    <div class="col-12">
        <h3 class="text-main fw-bold mb-4">Features:</h3>
        <ul class="list-unstyled">
            <li>
                <p class="h3 mb-3 d-flex">
                    <span class="material-symbols-outlined">
                         select_check_box
                    </span> URL shortening for long links
                </p>
            </li>
            <li>
                <p class="h3 mb-3">
                    <span class="material-symbols-outlined">
                        check_box
                    </span> Save and manage shortened URLs
                </p>
            </li>
            <li>
                <p class="h3 mb-3">
                    <span class="material-symbols-outlined">
                        check_box
                    </span> Share the shortened URL
                </p>
            </li>
            <li>
                <p class="h3 mb-3">
                    <span class="material-symbols-outlined">
                        check_box
                    </span> Track clicks on your shortened URLs
                </p>
            </li>
            <li>
                <p class="h3 mb-3">
                    <span class="material-symbols-outlined">
                        check_box
                    </span> View analytics and charts for URL performance
                </p>
            </li>
        </ul>
    </div>
</div>


