<div class="fullscreen bg-secondary overlay" style="z-index: 2000; opacity:.5"></div>

<div class="fullscreen d-flex justify-content-center align-items-center" style="z-index: 2001">
    <div class="bg-white p-4 shadow rounded">
        <div class="spinner-border h3 text-main" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
